<div>
  <h2>编辑讨论版</h2>
  <%= form_for @group do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.submit "Submit", :disable_with => 'Submit...' %>
  <% end %>
</div>
